<!-- app/views/admin/doctors/_form.html.erb -->
<%= form_with(model: [:admin, @doctor], local: true) do |form| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>
      <ul>
        <% @doctor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :specialty %>
    <%= form.text_field :specialty %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
  <%= form.label :available_hours, "Available Hours (in JSON format)" %>
  <%= form.text_area :available_hours, value: @doctor.available_hours.to_json %>
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
