<!-- app/views/admin/appointments/_available_times_form.html.erb -->
<%= turbo_frame_tag "available_times_frame" do %>
  <% if available_times.present? %>
    <%= form_with url: available_fields_admin_appointments_path(format: :turbo_stream),
                  method: :get,
                  local: false,
                  data: { turbo_frame: "available_times_frame" } do |f| %>

      <%= hidden_field_tag :package_id,       package.id %>
      <%= hidden_field_tag :doctor_id,        doctor_id %>
      <%= hidden_field_tag :appointment_date, appointment_date %>

      <div class="field">
        <%= f.label :time_slot, "Available times (#{duration} min)" %><br>
        <%= f.select :time_slot,
                     available_times.map { |t| [t.strftime("%H:%M"), t.iso8601] },
                     prompt: "Select a time",
                     class: "form-select" %>
      </div>

      <div class="actions">
        <%= f.submit "Next: Enter Your Info", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-warning">
      Doctor no disponible
    </div>
  <% end %>
<% end %>
