<!-- app/views/admin/appointments/_available_times_form.html.erb -->
<%= turbo_frame_tag "available_times_frame" do %>
  <% if available_times.any? %>
    <%= form_with url: available_fields_admin_appointments_path(format: :turbo_stream),
                  method: :get,
                  local: false,
                  id:      "appointment-form",
                  class:   "space-y-6",
                  data:    { turbo_frame: "client_data_frame" } do |f| %>

      <%= f.hidden_field :package_id,      value: package.id %>
      <%= f.hidden_field :doctor_id,       value: doctor_id %>
      <%= f.hidden_field :appointment_date, value: appointment_date %>

      <div class="field">
        <%= f.label :time_slot, "Selecciona una Hora", class: "block text-lg font-medium text-gray-700 mb-2" %>
        <%= f.select :time_slot,
                     available_times.map { |t| [t.strftime("%I:%M %p"), t.iso8601] },
                     { prompt: "Selecciona una Hora" },
                     class: "block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
      </div>

      <div class="actions">
        <%= f.submit "Next: Your Info", class: "bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition-colors duration-200" %>
      </div>
    <% end %>
  <% else %>
    <div class="mt-4 p-4 bg-yellow-100 border border-yellow-300 text-yellow-800 rounded">
      Doctor no disponible
    </div>
  <% end %>
<% end %>
