<!-- app/views/admin/appointments/_client_data_form.html.erb -->
<%= turbo_frame_tag "client_data_frame" do %>
  <%= form_with model: @appointment,
                url: admin_appointments_path(format: :turbo_stream),
                method: :post,
                local: false,
                data: {
                  turbo_frame:         "client_data_frame",
                  controller:          "recaptcha",
                  action:              "submit->recaptcha#submit",
                  recaptcha_site_key: ENV['RECAPTCHA_SITE_KEY']
                },
                class: "space-y-6" do |f| %>

    <%= f.hidden_field :package_id %>
    <%= f.hidden_field :doctor_id %>
    <%= f.hidden_field :start_date, value: time_slot %>

    <div class="field">
      <%= f.label :name, "Nombre" %><br>
      <%= f.text_field :name, required: true, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :age, "Edad" %><br>
      <%= f.number_field :age, required: true, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :phone, "Teléfono" %><br>
      <%= f.telephone_field :phone, required: true, class: "form-control" %>
    </div>

    <%= f.hidden_field :recaptcha_token, id: "recaptcha_token", data: { recaptcha_target: "recaptchaToken" } %>

    <%= f.submit "Agendar Cita", class: "btn btn-success" %>
  <% end %>
<% end %>
