<!-- app/views/admin/appointments/_client_data_form.html.erb -->
<%= turbo_frame_tag "client_data_frame" do %>
  <%= form_with model: @appointment,
                url: admin_appointments_path(format: :turbo_stream),
                method: :post,
                local: false,
                data: { turbo_frame: "client_data_frame" },
                class: "space-y-6" do |f| %>

    <%= f.hidden_field :package_id, value: package.id %>
    <%= f.hidden_field :doctor_id,  value: doctor_id %>
    <%= f.hidden_field :start_date, value: time_slot %>

    <!-- Name -->
  <div>
    <%= form.label :name, "Nombre", class: "block text-lg font-medium text-gray-700 mb-2" %>
    <%= form.text_field :name, required: true, class: "block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <!-- Age -->
  <div>
    <%= form.label :age, "Edad", class: "block text-lg font-medium text-gray-700 mb-2" %>
    <%= form.number_field :age, required: true, class: "block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <!-- Phone -->
  <div>
    <%= form.label :phone, "Número de Teléfono", class: "block text-lg font-medium text-gray-700 mb-2" %>
    <%= form.telephone_field :phone, required: true, class: "block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
  </div>

    <div class="actions">
      <%= f.submit "Agendar Cita", class: "btn btn-success" %>
    </div>
  <% end %>

<% end %>
