<!-- app/views/appointments/_available_form.html.erb -->
<turbo-frame id="appointment_form">
  <%= form_with model: @appointment, url: appointments_path, method: :post, id: "appointment-form", class: "space-y-6" do |form| %>
    <!-- Hidden Field for Package ID -->
    <%= form.hidden_field :package_id, value: @package.id %>

    <!-- Doctor Selection -->
    <div class="mb-4">
      <%= form.label :doctor_id, "Selecciona un Doctor", class: "block text-lg font-medium text-gray-700 mb-2" %>
      <% if @doctors.present? %>
        <%= form.select :doctor_id, 
              options_for_select(@doctors.map { |d| [d.name, d.id] }, params[:doctor_id] || @doctor_id), 
              { prompt: "Elige un Doctor" }, 
              class: "block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
      <% else %>
        <p class="text-red-500">Sin Doctores Disponibles.</p>
      <% end %>
    </div>

    <!-- Date Field -->
    <%= form.date_field :appointment_date, 
          value: params[:appointment_date] || Date.today, 
          class: "block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>

    <!-- Available Times -->
    <div>
      <%= form.label :start_date, "Selecciona una Hora", class: "block text-lg font-medium text-gray-700 mb-2" %>
      <%= form.select :start_date, 
            options_for_select(
              @available_times.map { |time| [time.in_time_zone(@timezone).strftime("%I:%M %p %Z"), time] }, 
              @appointment&.start_date
            ), 
            { prompt: "Elige una hora" }, 
            class: "block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
    </div>
  <% end %>
</turbo-frame>