



<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Amid2" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% end %>
    <% end %>

    <!-- Conditionally load the validation script only for appointments#new or appointments#create -->
    <% if controller.controller_name == "appointments" && ["new", "create"].include?(controller.action_name) %>
      <%= javascript_include_tag "application" %>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>

